@font-face {
    font-family: 'Space Grotesk';
    src: url('/font/SpaceGrotesk-Light.woff2') format('woff2'),
        url('/font/SpaceGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


:root {
    --green: #5F9E7E;
    --orange: #E6A15C;
    --light-green: #d9e9e1;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk';
}

.container {
    display: grid;
    grid-template: 0.9fr 4fr / 1fr 4fr;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 0.6fr 1fr / 2fr 1fr;
    border-bottom: 1px solid lightgray;
}

form {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
}

form button {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;;
}

form input {
    width: 70%;
    height: 30px;
    border-radius: 30px;
    background-color: var(--light-green);
    border: none;
}

form input:hover {
    box-shadow: 1px 1px 5px var(--orange);
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.small-circle {
    height: 50px;
    width: 50px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: var(--orange);
}

.header-icon {
    height: 25px;
    width: 25px;
    border: none;
    background-color: white;
}

.profile-name {
    font-weight: 700; 
    font-size: 20px;
}

.header-bottom {
    display: grid;
    grid-template: 1fr 1fr / 1fr 5fr;
    padding-left: 40px;
    align-items: center;
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

li button {
    height: 35px;
    width: 95px;
    background-color: var(--green);
    border-radius: 40px;
    color: white;
}

button:hover {
    box-shadow: 1px 1px 5px var(--orange);
}

button:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
}

.small-profile {
    height: 40px;
    width: 40px;
}

.large-circle {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border: 1px solid lightgray;
    border-radius: 40px;
    background-color: var(--orange);
}

.large-profile {
    height: 70px;
    width: 70px;
}

.greeting {
    align-self: end;
    font-weight: 700;
}

.greeting-name {
    align-self: start;
    margin-top: 5px;
    font-size: 25px;
    font-weight: 700;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    border-right: 1px solid lightgray;
    background-color: var(--green);
    color: white;
}

.sidebar-top {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;   
}

.dashboard-logo {
    height: 50px;
    width: 50px;
    justify-self: center;
    align-self: center;
}

.dashboard {
    font-size: 30px;
    font-weight: 900;
}

.sidebar-middle {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 330px;
}

.sidebar-bottom {
    display: grid;
    grid-template: 55px 55px 55px 1fr / 1fr 3fr;
    align-items: center;
    padding-top: 20px;
}

.sidebar-icon {
    height: 25px;
    width: 25px;
    justify-self: center;
}

.sidebar-nav {
    font-size: 20px;
}

.sidebar-nav:hover {
    text-decoration: underline 1px;
}

.main-content {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 1fr 0.75fr 30px / 3fr 1fr;
    gap: 30px;
    padding: 30px;
    padding-top: 0px;
    padding-left: 15px;
    background-color: var(--light-green);
}

.projects-container {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 75px 1fr;
}

.cards-container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 30px;
}

.card {
    height: 200px;
    background-color: white;
    border-left: 8px solid var(--orange);
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    padding: 20px;
}

.card:hover {
    box-shadow: 0px 0px 5px 3px var(--orange);
}

.card-title {
    align-self: end;
    font-size: 18px;
    font-weight: 700;
}

.card-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.card-buttons img {
    height: 25px;
    width: 25px;
}

.card-buttons img:hover {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
}

.announcements-container {
    display: grid;
    grid-template-rows: 75px 1fr;
}

.announcements-main {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    padding: 40px;
    gap: 30px;
    row-rule: 1px solid lightgray;
}

.announce-title {
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 8px;
}

.announcement {
    font-size: 12px; 
}

.trending-container {
    display: grid;
    grid-template-rows: 45px 1fr;
}

.trending-main {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr 2fr;
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    align-items: center;
}

.circle {
    height: 50px;
    width: 50px;
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    justify-self: center;
}

.trend-profile {
    width: 40px;
    height: 40px;
}

.trend-tag {
    font-weight: 700;
    font-size: 14px;
}

.trend-name {
    font-size: 12px;
}

.main-title {
    font-size: 20px;
    font-weight: 700;
    align-self: end;
    padding-bottom: 10px;
}
